.hidden {
    display: none;
}

.skeletonAuthor, .skeletonAlbum {
    width: 59px;
    height: 15px;
    background: #313131;
}

.trackPlaySvg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4E4E4E;
}

.author {
    grid-area: author;
    min-width: 49px;
}

.album {
    grid-area: album;
    min-width: 49px;
}

.authorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.controls {
    display: flex;
    flex-direction: row;
    padding: 0 27px 0 31px;
}

.prev, .play, .next, 
.repeat, .shuffle {
    padding: 5px;
    display: flex;
    align-items: center;
}

.prev {
    margin-right: 23px;
}

.prevSvg {
    width: 15px;
    height: 14px;
}

.play {
    margin-right: 23px;
}

.playSvg {
    width: 22px;
    height: 20px;
    fill: #D9D9D9;
}

.next {
    margin-right: 28px;
    fill: #a53939;
}

.nextSvg {
    width: 15px;
    height: 14px;
    fill: inherit;
    stroke: #D9D9D9;
}

.repeat {
    margin-right: 24px;
}

.repeatSvg {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.shuffle {
    display: flex;
    align-items: center;
}

.shuffleSvg {
    width: 19px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.btn {
    cursor: pointer; 
}

.btnIcon:hover svg{
    fill: transparent;
    stroke: #ACACAC;
    cursor: pointer;
}

.btnIcon:active svg {
    fill: transparent;
    stroke: #FFFFFF;
    cursor: pointer;
}

.btnIcon:active, .likeSvg,
.btnIcon:active, .dislikeSvg {
    fill: #696969;
    stroke: #FFFFFF;
    cursor: pointer;
}

.trackPlay {
    display: flex;
    flex-direction: row;
}

.contain {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "image author"
        "image album";
    align-items: center;
}

.playImage {
    width: 51px;
    height: 51px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    grid-area: image;
}

.likeDis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 26%;
}

.like, .dislike {
    padding: 5px;
}

.likeSvg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.dislike {
    margin-left: 28.5px;
}

.dislikeSvg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
}