.volume {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 92px 0 0;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    width: 13px;
    height: 18px;
    margin-right: 17px;
}

.volumeSvg {
    width: 13px;
    height: 18px;
    fill: transparent;
}

.progress {
    width: 109px;
    display: flex;
    position: relative;
}

.progressLine {
    width: 109px;
    -webkit-appearance: none;
    appearance: none;
}

.progressLineLight {
    width: 109px;
    -webkit-appearance: none;
    appearance: none;
}

.progressLine::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    background-color: #797979;
}

.progressLineLight::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    background-color: #C4C4C4;
}


.progressLine::-webkit-slider-thumb {
    background: #1A1A1A;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    -webkit-appearance: none;
    margin-top: -5px;
}

.progressLineLight::-webkit-slider-thumb {
    background: #FFFFFF;
    border: 2px solid #B1B1B1;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    -webkit-appearance: none;
    margin-top: -5px;
}

.progressBefore {
    width: 50%;
    height: 2px;
    background: #FFFFFF;
    top: 0;
    left: 0;
    position: absolute;
}

.progressBeforeLight {
    width: 50%;
    height: 2px;
    background: #AD61FF;
    top: 0;
    left: 0;
    position: absolute;
}

.btn {
    cursor: pointer;
}