.hidden {
    display: none;
}

.skeletonText {
    width: 356px;
    height: 19px;
    background: #313131;
    padding-right: 60px;
}

.skeletonTextLight {
    width: 356px;
    height: 19px;
    background: #F6F4F4;
    padding-right: 60px;
}

.skeletonAuthor {
    width: 271px;
    height: 19px;
    background: #313131;
    padding-right: 50px;
}

.skeletonAlbum {
    width: 305px;
    height: 19px;
    background: #313131;
}

.titleSvg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4E4E4E;
}

.titleLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.titleLinkLight {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.author {
    width: 321px;
    display: flex;
    justify-content: flex-start;
}

.authorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

.authorLinkLight {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: left;
}

.album {
    width: 245px;
}

.albumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.albumLinkLight {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B1B1B1;
}

.item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
}

.track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 447px;
}

.trackImage {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}

.trackImageLight {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #F6F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}

.trackSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E4E4E;
}

.trackSpanLight {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B1B1B1;
}

.timeSvg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
}

.timeText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
}

.timeTextLight {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #B1B1B1;
}