.Sidebar {
    max-width: 418px;
    padding: 154px 70px 20px 70px;
}

.SidebarBlock {
    height: 100%;
    padding: 200px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.SidebarList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
