.CenterBlockContent {
    display: flex;
    flex-direction: column;
}

.NotFoundWrapper {
    width: auto;
    flex-grow: 3;
    padding: 20px 100px 20px 40px;
}

.NotFoundBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 100px;
}

.NotFoundTitle {
    font-weight: 400;
    font-size: 160px;
    line-height: 168px;
    color: #ffffff;
}
.NotFoundTitleLight {
    font-weight: 400;
    font-size: 160px;
    line-height: 168px;
    color: #000000;
}

.NotFoundText {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
}
.NotFoundTextLight {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.SmileWrapper {
    display: flex;
}

.Smile {
    width: 52px;
    height: 52px;
    background-color: transparent;
}

.NotFoundDescription {
    width: 282px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #4e4e4e;
}
.NotFoundDescriptionLight {
    width: 282px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B1B1B1;
}

.NotFoundButton {
    width: 278px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
    background-color: rgba(88, 14, 162);
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    margin: 30px;
}
.NotFoundButton:hover {
    background-color: rgb(64 8 120);
}
.NotFoundButton:active {
    background-color: rgb(43 10 77);
}

